

<h1>Upload Bank Statement :</h1>

<p> Click here to upload pdf file</p>

<form method="post" action = "/Upload" enctype="multipart/form-data">
    <input type ="file" name="file"/>
    <input type= "submit" value="Upload"/>
</form>


